@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth!important;
}

[role='tooltip'].popup-content {
    width: 600px!important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  